body{background-color: lightgray;}

#container{
    width: 80%;
    margin: auto;
   
}


.bgcolor{
    background-color: gray !important;
    border-radius: 10px;
    margin-top: 10px;
}

h1{
    text-align: center;
}